<div class="row">
	<div class="twelve columns">
		<h3 class="page-heading">About Us</h3>
	</div>
</div>
<p>Salwa E.G. Elias, MD, FAAAAI, FACAAI, FAAP  

Diplomate, American Board of Allergy, Asthma & Immunology

Diplomate, American Board of Pediatrics

      Dr. Elias completed her Post-Doctoral Fellowship:

In Adult and Pediatrics Allergy, Asthma & Immunology at Cornell University Medical College in 1995 & completed her residency in Pediatrics at Beth Israel Medical Center.

      She is a Fellow of the American Academy of Allergy, Asthma & immunology, the American College of Allergy, Asthma & Immunology & the American Academy of Pediatrics.</p>