<div class="row-home">
	<div class="four columns">
		<img src="http://eliasmds.com/Our_Physicians_files/image001.gif" alt="doctor">
	</div>
	<div class="eight columns">
		<h4>Salwa E.G. Elias, MD, FAAAAI, FACAAI, FAAP</h4>  
		<h6>Diplomate, <em>American Board of Allergy, Asthma & Immunology</em><br>
		Diplomate, <em>American Board of Pediatrics</em></h6>
		<p>Dr. Elias completed her Post-Doctoral Fellowship in Adult and Pediatrics Allergy, Asthma and Immunology at Cornell University Medical College in 1995. She carried out her residency in Pediatrics at Beth Israel Medical Center in Brooklyn, NY. She is a Fellow of the American Academy of Allergy, Asthma & Immunology, the American College of Allergy, Asthma & Immunology, and the American Academy of Pediatrics.</p>
	</div>
</div>