<p>As a board-certified physician, I am fully dedicated to helping adults & children with allergy, asthma, Immunology & respiratory disorders to achieve a life unrestricted by illness, in a friendly & warm environment.

I have the experience and compassion to provide you with fast & effective relief.

I provide the following evaluation & treatment services

•                   Asthma (allergic, exercise-induced, cough variant)
•                   Chronic cough
•                   Anaphylaxis
•                   Nasal allergy
•                   Sinusitis & respiratory disorders
•                   COPD (emphysema, chronic bronchitis)
•                   Pulmonary function testing
•                   Allergic eye disorders
•                   Immunotherapy (allergy shots)
•                   Food allergies
•                   Oral food challenge
•                   Skin disorders & patch testing
•                   Skin testing (prick & intra-dermal)
•                   Urticarial disorders (hives)
•                   Latex allergy
•                   Insect sting allergic reactions
•                   Drug allergies
•                   Drugs & vaccines desensitization
•                   Recurrent infections
•                   Immune-deficiencies
•                   Auto-immune disorders</p>