<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
<link href="/css/style.css" rel="stylesheet"/>
</head>

<body>
[about, treatments, patientinfo, form]
	<%
		nav = ["Home", "Our Physicians", "Treatments", "Patient Information", "Contact Us"] 
		pages = ["/", "about", "treatments", "patientinfo", "form"] 
	%>

	<ul style="list-style-type: none; padding-left: 0">

	<!-- start ruby -->	
	<% nav.each_with_index do |page, index| %>
		<li style="display:inline-block">
				<a href="<%= pages[index] %>">
					<button>
					<%= page %>
					</button>
				</a>
		</li>
	<% end %>
	<!-- end ruby -->

	</ul>

	<!-- start ruby -->
	<%= yield %>	
	<!-- end ruby -->
	<hr / >
<footer style="text-align:center">Wow This is our footer and it's at the bottom </footer>
</body>
</html>