<div class="row treatments">
	<div class="four columns treatments-quote">
		<p><em>As a board-certified physician, I am fully dedicated to helping adults and children with allergy, asthma, immunology and respiratory disorders to achieve a life unrestricted by illness, in a friendly environment. I have the experience and compassion to provide you with fast and effective relief.</em></p>
	</div>
	<div class="eight columns treatments-list">
		<ul><strong>I provide the following evaluation and treatment services:</strong><br><br>
			<li>Allergic eye disorders ||</li>
			<li>Anaphylaxis ||</li>
			<li>Asthma  ||</li>
			<li>Auto-immune disorders ||</li>
			<li>COPD (emphysema, chronic bronchitis) ||</li>
			<li>Chronic cough ||</li>
			<li>Drug allergies ||</li>
			<li>Drugs and vaccines desensitization ||</li>
			<li>Food allergies ||</li>
			<li>Immune-deficiencies ||</li>
			<li>Immunotherapy (allergy shots) ||</li>
			<li>Insect sting allergic reactions ||</li>
			<li>Latex allergy ||</li>
			<li>Nasal allergy ||</li>
			<li>Oral food challenge ||</li>
			<li>Pulmonary function testing ||</li>
			<li>Skin disorders and patch testing ||</li>
			<li>Skin testing (prick and intra-dermal) ||</li>
			<li>Sinusitis and respiratory disorders ||</li>	
			<li>Urticarial disorders (hives) ||</li>
			<li>Recurrent infections ||</li>	
		</ul>
	</div>
</div>