.container {
	margin:0 auto;
}


/*nav bar */
.nav ul {
	list-style-type: none; 
	padding-left: 0;
	float:right;
}

h3 {

}

.nav ul li {
	display:inline-block;
	text-align:center;
	float:left;
	margin:0 .5em;
}

button {
	width:100%;
	display:inline-block;
}

/*nav bar */


/* Home page styling*/

.row-home {
	padding: 20px 0px;
}

/* end Home page styling*/



/*Treatments page styling*/
.treatments-quote{
	text-align: center;
}

.treatments-list ul li{
	display: inline-block;
}

.treatments{
	padding: 20px 0px;
}
/*Treatments page styling*/

.content {
	background-color: gray;
}






